.section__recipes {
    padding-top: 70px;
    padding-bottom: 130px;
}

.recipes__wrapper {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}