.list__item {
    max-width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.15);

    &-discription {
        margin: 15px 0;
        display: flex;
        gap: 45px;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }
}

.list__item-delete {
    padding: 15px 0px !important;
    text-align: center !important;
    width: 100% !important;
}