.button {
    background-color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 165);
    border-radius: 10px;
    color: rgb(67, 67, 67);
    transition: all 0.5s;
    cursor: pointer;
    width: 105px;
    margin-bottom: 10px;

    &:hover {
        background-color: rgb(176, 176, 255);
    }

    &.active {
        background-color: rgb(176, 176, 255);
    }
}