@import '../../scss/vars.scss';

.about {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    &__text:first-child {
        color: $primaryColorLigth;
    }

    &__text:last-child {
        color: $secondlyColor;
    }

    &__text-result {
        margin-left: 10px;
        padding: 2px 8px;
        background: #333333;
        border-radius: 999px;
        color: #D9D9D9;
    }
}