.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        position: relative;
        width: 400px;
        background-color: white;
        padding: 80px;

        .modal__content-cancel {

            position: absolute;
            top: 20px;
            right: 20px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}