.recipes__item {
    width: 365px;
    min-height: 595px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &-content {
        padding: 20px;
    }

    &-title {
        margin-bottom: 11px;
    }

    &-delete {
        width: 100% !important;
        text-align: center;
    }
}