.recipes__item {
    max-width: 365px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &-content {
        padding: 20px;
    }

    &-title {
        margin-bottom: 11px;
    }
}