@import '../../scss/_vars.scss';


.nav__menu-link {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
    color: #000000;
    text-decoration: none;

    &:hover {
        opacity: 0.6;
    }

    &.active {
        color: $primaryColor;
    }
}