.detailes__label {
    padding: 15px;
    width: 97%;
    background: #FBFBFB;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-input {
        background-color: #f5f5f5;
        color: #333;
        font-size: 24px;
        padding: 15px;
        border: 1px solid #ccc;
        text-decoration: none;
        display: block;
    }
}

.modal__label-err {
    color: red;
}