.list-item {
    position: relative;
    padding-left: 15px;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(33, 182, 0);
}