.item {
    flex: 0 1 300px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(69, 69, 69);
    background-color: rgb(238, 238, 238);
}

.index-container {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(27, 183, 48);
}

.item__index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}