@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './vars.scss';

body {
    font-family: $fontMain;
    font-size: 24px;
    background: #F8F8F8;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1480px;
}

.container-less {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1300px;
}