$fontMain: 'Inter', sans-serif;
$mainTextColor: #F2F2F2;
$secondlyTextColor: #808080;
$primaryColor: #1E6F9F;
$primaryColorLigth: #4EA8DE;
$secondlyColor: #8284FA;
$danger: #E25858;

:export {
    primaryColor: $primaryColor;
    mainTextColor: $mainTextColor;
    secondlyTextColor: $secondlyTextColor;
    danger: $danger;
}